body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



h1, h2 { 
  text-align: center;;
}

/* myCard {
  width: 18rem;
} */

img.card {
  height: 200px;
  width: 200px;
}
.card {
  display:inline-block;
  justify-content: space-evenly;
}

.card:hover{
  background-image: linear-gradient(180deg,transparent,#1b2530),linear-gradient(90deg,#0d648c,#2d274f);
  color:white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
